<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 	<key>API_BASE_URL</key>
 	<string>$(API_BASE_URL)</string>
 	<key>GOOGLE_CLIENT_ID</key>
 	<string>512741716533-iks9gube8oh8f0gopnmc3v72pe6u3p5m.apps.googleusercontent.com</string>
 	<key>GOOGLE_CLIENT_SECRET</key>
 	<string>YOUR_GOOGLE_CLIENT_SECRET_HERE</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.sparkage.time-beam</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.sparkage.time-beam</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Timer synchronization requires notifications to sync across your devices.</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>banner</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
</dict>
</plist>
