<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSUserNotificationAlertStyle</key>
	<string>banner</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Timer synchronization requires notifications to sync across your devices.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Synapse uses your calendar to help you prepare for the day.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
